body {
  background-size: cover;  
  color: white;
  padding: 40px;
  font-family: Arial;
  text-align: center;
}

#report {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 100%;
  background-color: #99ff99;

  border-color: black;
}
#report td, #report th {
  border: 1px solid #ddd;
  padding: 8px;

  border-color: black;
}

#report tr:hover {background-color: #ddd;}

#report th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4CAF50;
  color: white;
}