body {
  background-color: dodgerblue;
  background-image: url(pill.jpg);
  background-size: cover;  
  color: white;
  padding: 40px;
  font-family: Arial;
  text-align: center;
}
.hide{
display:none;
}

.show{
display:block;
}
